/* 글로벌 코드 작성하기 */







/* Navbar */
a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

#nav {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  background-color: pink;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
}

.nav__ul {
  display: flex;
}

.nav__ul li {
  margin: 0px 10px;
  cursor: pointer;
}

.nav__title {
  display: flex;
  align-items: center;
}

.nav__title a {
  margin: 0px 4px;
}

.nav__right {
  display: flex;
}

.nav__right div,
.nav__right a {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__right span {
  margin: 0px 4px;
}

.nav__github:nth-child(3) {
  display: none;
}


/* Media query */
@media screen and (max-width: 1024px) {
  :root {
    /* 반응형 글로벌코드 작성하기 (1024px) */
    font-size: 15px;
  }

  #nav {
    padding: 20px 20px;
  }

  .nav__ul li {
    display: none;
  }

  .nav__right span {
    display: none;
  }

  .nav__github:nth-child(2) {
    display: none;
  }

  .nav__github:nth-child(3) {
    display: block;
  }

}

@media screen and (max-width: 768px) {
  :root {
    /* 반응형 글로벌코드 작성하기 (768px) */
    font-size: 15px;
  }

}