/* Global */

/* Color */
$color-white: #ffffff;
$color-light-white: #eeeeee;
$color-dark-white: #bdbdbd;
$color-pink: #fe918d;
$color-dark-pink: #ff6863;
$color-black: #4d4d4d;
$color-dark-grey: #4d4d4d;
$color-grey: #616161;
$color-light-grey: #7c7979;
$color-blue: #73aace;
$color-yellow: #fff7d1;
$color-orange: #feb546;

/* Font size */
$font-large: 48px;
$font-medium: 28px;
$font-regular: 18px;
$font-small: 16px;
$font-micro: 14px;

/* Font weight */
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-regular: 400;


/* Universal tags */
// -> index.css


/* Typography */
h1 {
  font-size: $font-large;
  font-weight: $weight-bold;
  color: $color-black;
  margin: 16px 0;
}

h2 {
  font-size: $font-medium;
  font-weight: $weight-semi-bold;
  color: $color-black;
  margin: 8px 0;
}

h3 {
  font-size: $font-regular;
  font-weight: $font-regular;
  color: $color-black;
  margin: 8px 0;
}

p {
  font-size: $font-regular;
  font-weight: $font-regular;
  color: $color-black;
  margin: 4px 0;
}



/* Navbar */
ul {
  list-style: none;
}

#nav {
  display: flex;
  justify-content:space-around;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav__left {
  display: flex;
}

.nav__ul {
  display: flex;
}

.nav__li {
  margin: 0px 10px;
  cursor: pointer;
  color: $color-white;
}

.nav__title {
  display: flex;
  align-items: center;
}

.nav__title a {
  margin: 0px 4px;
  color: $color-white;
}

.nav__right {
  display: flex;
}

.nav__right div,
.nav__right a {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__right span {
  margin: 0px 4px;
  color: $color-white;
}

.nav__github:nth-child(3) {
  display: none;
}

.nav__toggle {
  margin: 0px 10px;
  display: none;
}


/* Error page */
#errorpage {
  text-align: center;
  position: relative;
  top: 100px;
}

#errorpage p {
  font-size: $font-large;
  color: $color-white;
}

#errorpage button {
  font-size: $font-regular;
  border: none;
  border-radius: 4px;
  padding: 15px;
  margin-top: 15px;
  color: white;
  background-color: green;
}


/* Home */
#home {
  background-image: url(./Image/background_home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 2000px;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid $color-white;
}

.home__title,
.home__description {
  color: $color-white;
}


// Snow animation in the home section
body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-x: hidden;
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 200;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}








/* Media query */
@media screen and (max-width: 1024px) {
  :root {
    /* 반응형 글로벌코드 작성하기 (768px) - root 필요없이 SCSS문법으로*/
    font-size: 15px;
  }

  #nav {
    padding: 30px 20px 0px 20px;
    flex-direction: column;
    background-color: $color-pink;
  }

  .nav__right {
    position: absolute;
    top: 24px;
    right: 15px;
  }

  .nav__ul {
    flex-direction: column;
    align-items: center;
  }

  .nav__li {
    margin: 5px 0px;
  }

  .nav__right span {
    display: none;
  }

  .nav__github:nth-child(2) {
    display: none;
  }

  .nav__github:nth-child(3) {
    display: block;
  }

  .nav__toggle {
    display: block;
  }




}


@media screen and (max-width: 768px) {
  :root {
    /* 반응형 글로벌코드 작성하기 (768px) - root 필요없이 SCSS문법으로*/
    font-size: 15px;
  }

}