/* Global */

// Color
$color-white: #ffffff;
$color-light-white: #eeeeee;
$color-dark-white: #bdbdbd;
$color-pink: #fe918d;
$color-dark-pink: #ff6863;
$color-black: #4d4d4d;
$color-dark-black: #000000;
$color-dark-grey: #4d4d4d;
$color-grey: #616161;
$color-light-grey: #7c7979;
$color-blue: #73aace;
$color-yellow: #fff7d1;
$color-orange: #feb546;
$color-light-red: #F44349;

// Font size
$font-large: 48px;
$font-medium: 28px;
$font-regular: 18px;
$font-small: 16px;
$font-micro: 14px;

// Font weight
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-regular: 400;



/* Universal tags */
// -> index.css
ul {
  list-style: none;
}



/* Typography */
h1 {
  font-size: $font-large;
  font-weight: $weight-bold;
  color: $color-dark-black;
  margin: 16px 0;
}

h2 {
  font-size: $font-medium;
  font-weight: $weight-semi-bold;
  color: $color-dark-black;
  margin: 8px 0;
}

h3 {
  font-size: $font-regular;
  font-weight: $weight-semi-bold;
  color: $color-dark-black;
  margin: 8px 0;
}

p {
  font-size: $font-regular;
  font-weight: $weight-regular;
  color: $color-dark-black;
  margin: 4px 0;
}



/* Navbar */
#nav {
  display: flex;
  justify-content:space-around;
  padding: 0px 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav__left {
  display: flex;
}

.nav__ul {
  display: flex;
}

.nav__li {
  margin: 0px 10px;
  cursor: pointer;
  color: $color-white;
  font-size: $font-regular;
  font-weight: $weight-regular;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav__li:hover {
  background-color: $color-dark-pink;
}

.nav__li a {
  color: $color-white;
}

.nav__title {
  display: flex;
  align-items: center;
}

.nav__title span {
  margin: 0px 4px;
  color: $color-white;
  font-size: $font-regular;
  font-weight: $weight-regular;
}

.nav__right {
  display: flex;
  align-items:center;
}

.nav__lang,
.nav__right a {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__right span {
  margin: 0px 4px;
  color: $color-white;
  font-size: $font-regular;
  font-weight: $weight-regular;
}

.nav__github:nth-of-type(2) {
  display: none;
}

.nav__toggle {
  margin: 0px 10px;
  display: none;
}



/* Error page */
#errorPage {
  text-align: center;
  position: relative;
  top: 100px;
}

#errorPage p {
  font-size: $font-large;
  color: $color-white;
}

#errorPage button {
  font-size: $font-regular;
  border: none;
  border-radius: 4px;
  padding: 15px;
  margin-top: 15px;
  color: $color-white;
  background-color: green;
}


/* Home */
#home {
  background-image: url(./Image/background_home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1100px;
  padding: 40px;
  padding-top: 220px;
  text-align: center;
  width: 100%;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid $color-white;
}

.home__title,
.home__description {
  color: $color-white;
}


// Snow animation in the home section
body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-x: hidden;
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 200;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}


/* About */
#about {
  background-image: url(./Image/background_about.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1100px;
  padding: 80px;
  padding-top: 120px;
  text-align: center;
  width: 100%;
}

.about__boxsort-lang {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 0px;
}

.about__icon-lang {
  border: 3px solid $color-dark-black;
  padding: 50px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

#about h1 {
  margin-bottom: 70px;
}

#about h2 {
  margin-top: 20px;
}

.about__boxsort-str {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 0px;
}

.about__whitebox {
  background-color: $color-white;
  padding: 50px;
  border-radius: 10px;
  width: 350px;
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__icon-str {
  width: 40px;
  height: 40px;
  color: $color-light-red;
}

.about__responsive{
  flex-direction: column;
  align-items:center;
  display: none;
}

.about__responsive div {
  width: 400px;
  height: 130px;
  margin: 5px;
}

.about__responsive h2 {
  margin-top: 15px !important;
}

.error-message {
  font-size: $font-medium;
  font-weight: $weight-bold;
  color: $color-light-red;
}


/* Goals */
#goals {
  background-image: url(./Image/background_goals.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 850px;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
  width: 100%;
}

#goals h1 {
  margin-bottom: 70px;
  color: $color-white;
}

.goals__title {
  display: flex;
  justify-content: center;
  margin: 30px;
  margin-bottom: 50px;
}

.active {
  background-color: $color-dark-pink;
}

.goals__btn {
  border: 1px solid $color-white;
  border-radius: 3px;
  margin: 0px 10px;
  padding: 5px 40px;
  font-size: $font-small;
  color: $color-white;
}

.goals__btn:hover {
  background-color: $color-dark-pink;
}

.goals__lang {
  display: flex;
  justify-content: center;
}

.goals__container {
  margin: 0px 10px;
  transition: all 0.3s ease; 
  border-radius: 10px;
}

.goals__container > div {
  border-radius: 0 0 10px 10px;
  color: $color-white;
}

.goals__container:hover {
  transform: scale(1.1);
}

.goals__img {
  width: 220px;
  height: 220px;
  padding: 20px;
}


/* Review */
#review {
  background-image: url(./Image/background_about.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1100px;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
  width: 100%;
}

.review__slice {
  font-size: calc($font-large + 20px);
}

#review h1 {
  margin-bottom: 70px;
}

.review__container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.review__left {
  border-right: 2px solid $color-dark-black;
  margin-right: 100px;
  padding-right: 50px;
}

.review__left div:nth-child(2) {
  margin-top: 30px;
}

.review__btn {
  color: $color-dark-black;
  font-weight: $weight-bold;
  font-size: $font-regular;
  border: 2px solid $color-dark-black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.review__right {
  text-align: left;
}

.review__img {
  width: 450px;
  height: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 10px solid $color-white;
}


/* Contact */
#contact {
  background-color: $color-dark-black;
  height: 100px;
  padding: 40px;
  width: 100%;
  color: $color-white;
  font-size: $font-regular;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

#contact div {
  color: $color-white;
}

.contact__right {
  display: flex;
}

.contact__right a {
  margin: 0 15px;
  text-align: center;
}



/* Media query */
@media screen and (max-width: 1024px) {

  //nav
  #nav {
    padding: 10px 10px 0px 20px;
    flex-direction: column;
    background-color: $color-pink;
  }

  .nav__title {
    position: relative;
    top: 8px;
  }

  .nav__title span {
    font-size: $font-regular;
  }

  .nav__right {
    position: absolute;
    top: 17px;
    right: 15px;
  }

  .nav__ul {
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }

  .nav__li {
    font-size: $font-regular;
  }

  .nav__right span {
    display: none;
  }

  .nav__github:nth-child(2) {
    display: none;
  }

  .nav__github:nth-child(3) {
    display: block;
  }

  .nav__toggle {
    display: block;
  }

  //home
  #home {
    height: 1000px;
  }

  //about
  #about {
    height: 1200px;
  }

  .about__responsive {
    display: flex;
  }

  .about__boxsort-str {
    display: none;
  }

  .about__icon-lang {
    width: 100px;
    height: 100px;
  }


  //goals
  .goals__lang {
    flex-wrap: wrap;
  }

  .goals__container {
    flex: 0 0 calc(50% - 140px);
    margin: 0px;
    margin-bottom: 20px;
  }

  #goals {
    height: 1100px;
  }

  //review
  .review__left {
    margin-right: 50px;
    padding-right: 10px;
  }

  .review__img {
    width: 450px;
    height: 250px;
  }

  #review {
    padding-left: 70px;
    padding-right: 70px;
  }
}



@media screen and (max-width: 768px) {

  /* global (768px or less) */
  // font-size
  $font-large: 38px;
  $font-medium: 22px;
  $font-regular: 14px;
  $font-small: 13px;
  $font-micro: 11px;
  // Typograph
  h1 {
    font-size: $font-large;
  }
  h2 {
    font-size: $font-medium;
  }
  h3 {
    font-size: $font-regular;
  }
  p {
    font-size: $font-regular;
  }

  //about
  #about {
    height: 1650px;
  }

  .about__boxsort-lang {
    flex-direction: column;
    align-items: center;
  }

  .about__boxsort-lang h2 {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
  }

  .about__responsive div {
    margin: 0px;
  }

  //review
  .review__container {
    flex-direction: column;
  }

  .review__left {
    border: none;
    margin-right: 0px;
    padding-right: 0px;
  }

  .review__img {
    width: 250px;
    height: 150px;
    border: 3px solid $color-white;
    margin-bottom: 0px;
  }

  .review__right {
    text-align: center;
    margin-top: 30px;
  }

  #review {
    height: 1200px;
  }

  .review__slice {
    font-size: calc($font-large + 12px);
  }

  //contact
  #contact {
  background-color: $color-dark-black;
  height: 70px;
  padding: 20px;
  font-size: $font-regular;
  }
}


@media screen and (max-width: 580px) {
  //goals
  #goals {
    height: 900px;
  }

  .goals__img {
    width: 140px;
    height: 140px;
    padding: 20px;
  }

  .goals__container {
    margin-bottom: 8px;
  }

  .goals__btn {
    margin: 3px;
  }

  .goals__title {
    flex-direction: column;
  }

  //review
  .review__slice {
    font-size: calc($font-large - 10px);
  }
}


@media screen and (max-width: 359px) {
  //goals
  #goals {
    height: 1150px;
  }
}


