/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
  margin: 0;
  /* Hide x-axis scrolling */
  overflow-x: hidden;
  /* google fonts */
  font-family: 'Open Sans', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}


